h1 {
    margin: 0 auto;
}

.categorynews {
    display: flex;
    justify-content: flex-start;
}

select{
    text-align: center;
    font-size: 1.2rem;
}


.newsoutput img {
    height:10vh;
    width: 10vw;
}

.article{
    display: flex;
    justify-content: start;
    align-items: center;

}